{% extends "base.html" %} {% load staticfiles %}

{% block title %}デモ{% endblock title %}

{% block extrahead %}
{% endblock %}

{% block content %}


<div style="float:left;">
<h3 class="page-header">対象画像</h3>

{% if img_id %}
<img src="{% static 'images' %}/{{ img_id }}.jpg" />
{% endif %}

{% if upload %}
<img src="{{ upload }}" width=200 />
{% endif %}
</div>


<div style="float:left; margin-left: 30px;">
<h3 class="page-header">類似画像</h3>

{% for sim_id, value in prof_dict.items %}
<table>
  <tr>
    <td>
      <img src="{% static 'images' %}/{{ sim_id }}.jpg" />
    </td>
    <td style="margin:10px;" width=500>
      <p style="font-size:9px;">　名前：{{ value.0 }}</p>
      <p style="font-size:9px;">　生年月日：{{ value.1 }}</p>
      <p style="font-size:9px;">　星座：{{ value.2 }}</p>
      <p style="font-size:9px;">　血液型：{{ value.3 }}</p>
      <p style="font-size:9px;">　バスト{{ value.4 }}</p>
      <p style="font-size:9px;">　出身地：{{ value.5 }}</p>
      <p style="font-size:9px;">　趣味：{{ value.6 }}</p>
      <hr />
    </td>
  </tr>
</table>
{% endfor %}
</div>


{% endblock content %}
